#root {
  width: 100%;
  margin: 0 auto;
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.content-container {
  margin: 15px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
